In [1]:
import pandas as pd
import os
import uuid
from tkinter import filedialog
from tkinter import *
from typing import List

pd.set_option('display.max_rows', None)

from constants import HEADER, DATA

DROP_IF = ["DO NOT FILL IN", "DO NOT F"]
PATH = r"C:\Users\MB2705851\OneDrive - Surbana Jurong Private Limited\Manuals & Guidelines\Traffic\Manual count import templates"

def getfiles(path: str) -> List[str]:
    print("COLLECTING FILES......")
    src = []
    for root, dirs, files in os.walk(path):
        for name in files:
            if name.endswith(".xlsx"):
                p = os.path.join(root, name)
                src.append(p)
    src = list(set(src))
    return src

In [3]:

for file in getfiles(PATH):

    xls = pd.ExcelFile(file)

    header_out_df = pd.DataFrame()
    data_out_df = pd.DataFrame()

    for sheet in xls.sheet_names:
        df = pd.read_excel(file, sheet_name=sheet, header=None)
        print(df)

        #  df.LOC[ROW, COLUMN] -- REMEMBER THIS
        header = {
            "header_id": [str(uuid.uuid4())],
            "counted_by": ["TCS Trust"],
            "tc_station_name": [str(df.loc[4, 8])+str(df.loc[5, 8])],
            "count_type_id": 3,
            "count_date_start": [df.loc[2, 1]],
            "count_weather": [df.loc[1, 2]],
            "h_station_date": [str(df.loc[4, 8])+str(df.loc[5, 8]) + "_" + str(df.loc[2, 1])],
            "growth_rate_use": [str("y")],
            "count_interval": [60],
            "latitude": [df.loc[14, 8]],
            "longitude": [df.loc[15, 8]],
            "kilometer_dist": [df.loc[8, 8]],
            "road_link": [df.loc[6, 8]],
            "type_of_count": [df.loc[13, 8]],
            "description": ["Between " + str(df.loc[9, 8]) + " and " + str(df.loc[10, 8])],
            "no_of_hours": [df.loc[24, 8]],
            "no_days": [df.loc[25, 8]]
        }
        header_temp = pd.DataFrame(header)
        header_out_df = header_out_df.append(header_temp)

        data = df.loc[4:29, 0:5]
        data = data[(data[0] != "Subtotal A") & (data[0] != "Subtotal B")]
        data = data.dropna(thresh=5)
        data.rename(
            columns={
                0: "count_hour",
                1: "light",
                2: "heavy",
                3: "bus",
                4: "taxi",
                5: "total",
            },
            inplace=True,
        )
        data["count_hour"] = data["count_hour"].str[:2]
        data["header_id"] = header_temp.loc[0, "header_id"]

        data["count_hour"] = pd.to_datetime(
            data["count_hour"].str[:8], format="%H"
        ).dt.time

        hour = data["count_hour"].astype(str)
        data["count_time"] = header_temp.loc[0, "count_date_start"]
        data["count_time"] = pd.to_datetime(
            data["count_time"], format="%y/%m/%d"
        ) + pd.to_timedelta(hour)

        data["header_date"] = header_temp.loc[0, "count_date_start"]
        data_out_df = data_out_df.append(data)

COLLECTING FILES......
                                                   0                    1   \
0                       MANUAL TRAFFIC COUNTING SHEET                  NaN
1   GAUTENG PROVINCE, DEPARTMENT OF ROADS AND PUBL...                  NaN
2                                                Date  2019-09-04 00:00:00
3                                       Hours Counted       Light Vehicles
4                                            00-01h00                  NaN
5                                            01-02h00                  NaN
6                                            02-03h00                  NaN
7                                            03-04h00                  NaN
8                                            04-05h00                  NaN
9                                            05-06h00                  NaN
10                                         Subtotal A                  NaN
11                                           06-07h00                  223
12                                           07-08h00                  188
13                                           08-09h00                  106
14                                           09-10h00                  113
15                                           10-11h00                  117
16                                           11-12h00                   91
17                                           12-13h00                   85
18                                           13-14h00                  126
19                                           14-15h00                  140
20                                           15-16h00                  143
21                                           16-17h00                  208
22                                           17-18h00                  172
23                                         Subtotal B                  NaN
24                                           18-19h00                  NaN
25                                           19-20h00                  NaN
26                                           20-21h00                  NaN
27                                           21-22h00                  NaN
28                                           22-23h00                  NaN
29                                           23-24h00                  NaN
30                                         Subtotal C                  NaN
31                                        Grand Total                 1712
32                                                NaN                  NaN
33                                                NaN                  NaN
34                                                NaN                  NaN
35                                                NaN                  NaN
36                                                NaN                  NaN
37                                                NaN                  NaN
38                                                NaN                  NaN
39                                                NaN                  NaN
40                                                NaN                  NaN
41                                                NaN                  NaN
42                                                NaN                  NaN
43                                                NaN                  NaN
44                                                NaN                  NaN
45                                                NaN                  NaN
46                                                NaN                  NaN
47                                                NaN                  NaN
48                                                NaN                  NaN
49                                                NaN                  NaN
50                                                NaN                  NaN
51                                                NaN                  NaN
52                                                NaN                  NaN
53                                                NaN                  NaN
54                                                NaN                  NaN
55                          Calculation Information :                  NaN
56                                  1.   Night Factor                  NaN
57  Don't calculate if 12 hour counts or \nif Tota...                  NaN
58                                                NaN                  NaN
59                               2.   Peak Hour Ratio                  NaN
60                Highest hourly volume 06:00 - 10:00                  NaN
61                                        divided by                   NaN
62  lowest hourly volume \nbetween hour of highest...                  NaN

                2         3          4      5                    6   \
0              NaN       NaN        NaN    NaN                  NaN
1              NaN       NaN        NaN    NaN                  NaN
2              NaN  Weekday:  Wednesday    NaN  General Information
3   Heavy Vehicles     Taxis      Buses  Total                  NaN
4              NaN       NaN        NaN    NaN                  NaN
5              NaN       NaN        NaN    NaN                  NaN
6              NaN       NaN        NaN    NaN                  NaN
7              NaN       NaN        NaN    NaN                  NaN
8              NaN       NaN        NaN    NaN                  NaN
9              NaN       NaN        NaN    NaN                  NaN
10             NaN       NaN        NaN                         NaN
11               6        21          2    252                  NaN
12              13         7          0    208                  NaN
13              14         4          0    124                  NaN
14              21         0          0    134                  NaN
15              25         0          0    142                  NaN
16              28         0          0    119                  NaN
17              19         1          0    105             REMARKS:
18              25         3          0    154                  NaN
19              24         0          1    165                  NaN
20              34         8          1    186                  NaN
21              39         6          0    253                  NaN
22              36         5          0    213                  NaN
23             NaN       NaN        NaN   2055                  NaN
24             NaN       NaN        NaN    NaN                  NaN
25             NaN       NaN        NaN    NaN                  NaN
26             NaN       NaN        NaN    NaN                  NaN
27             NaN       NaN        NaN    NaN                  NaN
28             NaN       NaN        NaN    NaN                  NaN
29             NaN       NaN        NaN    NaN                  NaN
30             NaN       NaN        NaN    NaN                  NaN
31             284        55          4   2055                AADT:
32             NaN       NaN        NaN    NaN                  NaN
33             NaN       NaN        NaN    NaN                  NaN
34             NaN       NaN        NaN    NaN                  NaN
35             NaN       NaN        NaN    NaN                  NaN
36             NaN       NaN        NaN    NaN                  NaN
37             NaN       NaN        NaN    NaN                  NaN
38             NaN       NaN        NaN    NaN                  NaN
39             NaN       NaN        NaN    NaN                  NaN
40             NaN       NaN        NaN    NaN                  NaN
41             NaN       NaN        NaN    NaN                  NaN
42             NaN       NaN        NaN    NaN                  NaN
43             NaN       NaN        NaN    NaN                  NaN
44             NaN       NaN        NaN    NaN                  NaN
45             NaN       NaN        NaN    NaN                  NaN
46             NaN       NaN        NaN    NaN                  NaN
47             NaN       NaN        NaN    NaN                  NaN
48             NaN       NaN        NaN    NaN                  NaN
49             NaN       NaN        NaN    NaN                  NaN
50             NaN       NaN        NaN    NaN                  NaN
51             NaN       NaN        NaN    NaN                  NaN
52             NaN       NaN        NaN    NaN                  NaN
53             NaN       NaN        NaN    NaN                  NaN
54             NaN       NaN        NaN    NaN                  NaN
55             NaN       NaN        NaN    NaN                  NaN
56             NaN       NaN        NaN    NaN                  NaN
57             NaN       NaN        NaN     85                  NaN
58             NaN       NaN        NaN    NaN                  NaN
59             NaN       NaN        NaN      D                  NaN
60             NaN       NaN        NaN    NaN                  NaN
61             NaN       NaN        NaN    NaN                  NaN
62             NaN       NaN        NaN    NaN                    C

                   7              8   9   ...     19                  20   21  \
0                 NaN            NaN NaN  ...    NaN                 NaN  NaN
1                 NaN            NaN NaN  ...                        NaN  NaN
2                 NaN            NaN NaN  ...    NaN  Cell address of v2  G14
3                 NaN            NaN NaN  ...    NaN  Cell address of v3  G14
4           Node Nr:              85 NaN  ...    NaN                 NaN  NaN
5            Leg Nr:               A NaN  ...    NaN                 NaN  NaN
6      Road Link Nr:            K175 NaN  ...    NaN                 NaN  NaN
7      Surface Type:             3.1 NaN  ...    NaN                   0    A
8   Kilometre Dist.:   19.19 - 19.58 NaN  ...    NaN                   0    G
9           Between:            N4/2 NaN  ...    NaN                   0    R
10              and:          P154/1 NaN  ...    NaN            1.677419    B
11        Direction:               + NaN  ...    NaN            1.677419    B
12  District Muni. :             H03 NaN  ...    NaN            1.677419    B
13    Type of Count:               H NaN  ...    NaN                 NaN  NaN
14          Latitude:   -25.805167 S NaN  ...    NaN                 NaN    B
15         Longitude:    28.696667 E NaN  ...    NaN                 NaN  NaN
16                NaN            NaN NaN  ...    NaN                 NaN  NaN
17                NaN            NaN NaN  ...    NaN                 NaN  NaN
18                NaN            NaN NaN  ...    NaN                 NaN  NaN
19                NaN            NaN NaN  ...      7                   8    9
20                NaN            NaN NaN  ...      0                   0    1
21                NaN            NaN NaN  ...    NaN                 NaN  NaN
22                NaN            NaN NaN  ...    NaN                 NaN  NaN
23                NaN            NaN NaN  ...    NaN                 NaN  NaN
24       No of Hours:             12 NaN  ...    NaN                 NaN  NaN
25           No Days:              1 NaN  ...    NaN                 NaN  NaN
26                NaN            NaN NaN  ...    NaN                 NaN  NaN
27     Peakhour Ratio       1.677419 NaN  ...    NaN                 NaN  NaN
28       Night Factor              0 NaN  ...    NaN                 NaN  NaN
29            Stratum            NaN NaN  ...    NaN                 NaN  NaN
30   Expansion Factor            NaN NaN  ...    NaN                 NaN  NaN
31                  0            NaN NaN  ...    NaN                 NaN  NaN
32                NaN            NaN NaN  ...  Total                 NaN  NaN
33                NaN            NaN NaN  ...      0                 NaN  NaN
34                NaN            NaN NaN  ...      0                 NaN  NaN
35                NaN            NaN NaN  ...      0                 NaN  NaN
36                NaN            NaN NaN  ...      0                 NaN  NaN
37                NaN            NaN NaN  ...      0                 NaN  NaN
38                NaN            NaN NaN  ...      0                 NaN  NaN
39                NaN            NaN NaN  ...    252                 NaN  NaN
40                NaN            NaN NaN  ...    208                 NaN  NaN
41                NaN            NaN NaN  ...    124                 NaN  NaN
42                NaN            NaN NaN  ...    134                 NaN  NaN
43                NaN            NaN NaN  ...    142                 NaN  NaN
44                NaN            NaN NaN  ...    119                 NaN  NaN
45                NaN            NaN NaN  ...    105                 NaN  NaN
46                NaN            NaN NaN  ...    154                 NaN  NaN
47                NaN            NaN NaN  ...    165                 NaN  NaN
48                NaN            NaN NaN  ...    186                 NaN  NaN
49                NaN            NaN NaN  ...    253                 NaN  NaN
50                NaN            NaN NaN  ...    213                 NaN  NaN
51                NaN            NaN NaN  ...      0                 NaN  NaN
52                NaN            NaN NaN  ...      0                 NaN  NaN
53                NaN            NaN NaN  ...      0                 NaN  NaN
54                NaN            NaN NaN  ...      0                 NaN  NaN
55                NaN            NaN NaN  ...      0                 NaN  NaN
56                  A            NaN NaN  ...      0                 NaN  NaN
57                NaN            NaN NaN  ...    NaN                 NaN  NaN
58                NaN            NaN NaN  ...    NaN                 NaN  NaN
59                NaN            NaN NaN  ...    NaN                 NaN  NaN
60                NaN              B NaN  ...    NaN                 NaN  NaN
61                NaN            NaN NaN  ...    NaN                 NaN  NaN
62                NaN            NaN NaN  ...    NaN                 NaN  NaN

      22    23    24    25    26    27    28
0    NaN   NaN   NaN   NaN   NaN   NaN   NaN
1    NaN   NaN   NaN   NaN   NaN   NaN   NaN
2    NaN   NaN   NaN   NaN   NaN   NaN   NaN
3    NaN   NaN   NaN   NaN   NaN   NaN   NaN
4    NaN   NaN   NaN   NaN   NaN   NaN   NaN
5    NaN   NaN   NaN   NaN   NaN   NaN   NaN
6    NaN   NaN   NaN   NaN   NaN   NaN   NaN
7    NaN   NaN   NaN   NaN   NaN   NaN   NaN
8    NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    NaN   NaN   NaN   NaN   NaN   NaN   NaN
10   NaN   NaN   NaN   NaN   NaN   NaN   NaN
11   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14   NaN   NaN   NaN   NaN   NaN   NaN   NaN
15   NaN   NaN   NaN   NaN   NaN   NaN   NaN
16   NaN   NaN   NaN   NaN   NaN   NaN   NaN
17   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19  10.0  11.0  12.0  13.0  14.0  15.0  16.0
20   0.0   0.0   1.0   0.0   0.0   0.0   0.0
21   NaN   NaN   NaN   NaN   NaN   NaN   NaN
22   NaN   NaN   NaN   NaN   NaN   NaN   NaN
23   NaN   NaN   NaN   NaN   NaN   NaN   NaN
24   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25   NaN   NaN   NaN   NaN   NaN   NaN   NaN
26   NaN   NaN   NaN   NaN   NaN   NaN   NaN
27   NaN   NaN   NaN   NaN   NaN   NaN   NaN
28   NaN   NaN   NaN   NaN   NaN   NaN   NaN
29   NaN   NaN   NaN   NaN   NaN   NaN   NaN
30   NaN   NaN   NaN   NaN   NaN   NaN   NaN
31   NaN   NaN   NaN   NaN   NaN   NaN   NaN
32   NaN   NaN   NaN   NaN   NaN   NaN   NaN
33   NaN   NaN   NaN   NaN   NaN   NaN   NaN
34   NaN   NaN   NaN   NaN   NaN   NaN   NaN
35   NaN   NaN   NaN   NaN   NaN   NaN   NaN
36   NaN   NaN   NaN   NaN   NaN   NaN   NaN
37   NaN   NaN   NaN   NaN   NaN   NaN   NaN
38   NaN   NaN   NaN   NaN   NaN   NaN   NaN
39   NaN   NaN   NaN   NaN   NaN   NaN   NaN
40   NaN   NaN   NaN   NaN   NaN   NaN   NaN
41   NaN   NaN   NaN   NaN   NaN   NaN   NaN
42   NaN   NaN   NaN   NaN   NaN   NaN   NaN
43   NaN   NaN   NaN   NaN   NaN   NaN   NaN
44   NaN   NaN   NaN   NaN   NaN   NaN   NaN
45   NaN   NaN   NaN   NaN   NaN   NaN   NaN
46   NaN   NaN   NaN   NaN   NaN   NaN   NaN
47   NaN   NaN   NaN   NaN   NaN   NaN   NaN
48   NaN   NaN   NaN   NaN   NaN   NaN   NaN
49   NaN   NaN   NaN   NaN   NaN   NaN   NaN
50   NaN   NaN   NaN   NaN   NaN   NaN   NaN
51   NaN   NaN   NaN   NaN   NaN   NaN   NaN
52   NaN   NaN   NaN   NaN   NaN   NaN   NaN
53   NaN   NaN   NaN   NaN   NaN   NaN   NaN
54   NaN   NaN   NaN   NaN   NaN   NaN   NaN
55   NaN   NaN   NaN   NaN   NaN   NaN   NaN
56   NaN   NaN   NaN   NaN   NaN   NaN   NaN
57   NaN   NaN   NaN   NaN   NaN   NaN   NaN
58   NaN   NaN   NaN   NaN   NaN   NaN   NaN
59   NaN   NaN   NaN   NaN   NaN   NaN   NaN
60   NaN   NaN   NaN   NaN   NaN   NaN   NaN
61   NaN   NaN   NaN   NaN   NaN   NaN   NaN
62   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[63 rows x 29 columns]